#logos {
    width: 1200px;
    height: 800px;
}

.logo {
    border: solid black 1px;
    margin: -1px;
}

#unselected .logo {
    position: absolute;
}

#selected > .logo {
    position: static;
}

#selected {
    width: 200px;
    height: 800px;
    float: left;
    border-right: solid black 2px;
}

#selected img {
    position: static;
}


#unselected {
    width: 800px;
    height: 800px;
    float: left;
    position: relative;    
}

#overlay {
    background: transparent;
    position: absolute;
    z-index: 10;
    height: 100%;
    width: 100%;
}